/* 
##################################
        GENERAL
##################################
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* 
##################################
        HEADER
##################################
*/

/* 
# # # # # # # # # # # # # # 
        NAV
# # # # # # # # # # # # # # 
*/
/* 
##################################
        MAIN
##################################
*/

/* 
##################################
        FOOTER
##################################
*/